<launch>
  <node pkg="mpc" type="mpc" name="mpc" output="screen">
    <param name="prediction_horizon" type="int" value="10" />
    <param name="delta_time" type="double" value="0.05" />
    <param name="loop_rate" type="int" value="10" />
    <param name="max_mod_delta" type="double" value="4.4" />
    <param name="max_acceleration" type="double" value="1" />
    <param name="max_decceleration" type="double" value="-1" />
    <param name="ref_v" type="double" value="2" />
    <param name="cte_weight" type="int" value="100" />
    <param name="epsi_weight" type="int" value="15" />
    <param name="v_weight" type="int" value="15" />
    <param name="delta_weight" type="int" value="2000" />
    <param name="a_weight" type="int" value="100" />
    <param name="diff_delta_weight" type="int" value="100" />
    <param name="diff_a_weight" type="int" value="10" />
  </node>
</launch>
