<launch>
  <arg name="map_file" />
  <arg name="path_file" />

  <include file="$(find selfie_launch)/launch/subsystems/hardware.launch" />
  <include file="$(find selfie_launch)/launch/subsystems/transforms.launch" />

  <node pkg="selfie_odometry" type="selfie_odometry" name="selfie_odometry" />

  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)" />
  <node pkg="amcl" type="amcl" name="amcl" >
    <param name="use_map_topic" type="bool" value="true" />
  </node>

  <node pkg="path_extractor" type="path_extractor.py" name="path_extractor" args="$(arg path_file)">
    <param name="path_points_backwards" type="int" value="0"/>
    <param name="path_points_forwards" type="int" value="6" />
    <param name="path_direction" type="bool" value="false" />
  </node>

  <node pkg="mpc" type="mpc" name="mpc" output="screen">
    <param name="prediction_horizon" type="int" value="10" />
    <param name="delta_time" type="double" value="0.05" />
    <param name="loop_rate" type="int" value="10" />
    <param name="max_mod_delta" type="double" value="4.4" />
    <param name="max_acceleration" type="double" value="1" />
    <param name="max_decceleration" type="double" value="-1" />
    <param name="ref_v" type="double" value="2" />
    <param name="cte_weight" type="int" value="100" />
    <param name="epsi_weight" type="int" value="15" />
    <param name="v_weight" type="int" value="15" />
    <param name="delta_weight" type="int" value="2000" />
    <param name="a_weight" type="int" value="100" />
    <param name="diff_delta_weight" type="int" value="100" />
    <param name="diff_a_weight" type="int" value="10" />
  </node>

  <node pkg="selfie_control" type="cmd_converter.py" name="cmd_converter">
    <param name="speed" value="1.0" />
  </node>

</launch>
